/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 5px 5px;
    padding: 0;
    box-sizing: border-box;
}
img{

}
body{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: 150px; */
  width: 1440px;
  height: 1024px;
}
.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}

.navbar :last-child{
    margin-left: auto;
}

.button-small{ 
   border: none;
   border-radius: 4px;
    padding: 5px 15px;
    background-color: rgb(189, 25, 148);
}

.line{
    border-left: 3px solid white;
    height: 50px;
    margin-left: 80px;
  }

.list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
} 

.list li{
    justify-content: space-around;
    margin-left: 30px;
}

section{
    text-align: center;
    
}