/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 5px 5px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: 150px; */
  width: 1440px;
  height: 1024px;
}
.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

.navbar :last-child{
    margin-left: auto;
    margin-right: 30px;
}

.button-small{ 
   border: none;
   border-radius: 4px;
    padding: 5px 15px;
    background-color: rgb(189, 25, 148);
}

.line{
    border-left: 1px solid white;
    height: 60px;
    margin-left: 80px;
  }

.list {
    display: flex;
    list-style: none;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
} 

.list li{
    justify-content: space-around;
    margin-left: 30px;
}

.hero{
    margin-top:100px ;
    /* text-align: center; */
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.hero-heading{
    font-weight: 800;
    font-size: 80px;
    flex-wrap: wrap;
}

.hero-description{
    margin:0px 50px; 
    /* flex-wrap: wrap; */
    font-weight: 400;
    font-size: 35px;
}

.button-large{
    font: 800;
    color: aliceblue;
    font-weight: 500;
    font-size: 40px;
    margin-top: 130px;
    border: none;
   border-radius: 15px;
    padding: 15px 15px;
    background-color: rgb(189, 25, 148);
}