/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 5px 5px;
}
nav{
    
    justify-content: space-around;
    display: flex;
    align-items: center;
    /* gap: 25px; */
}

nav :last-child{
    margin-left: auto
}

nav div ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-button{
    background-color: #4294d8;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;

}

nav div ul li{
    list-style: none;
    justify-content: space-between;

}

.banner-container {
    display: flex;
    align-items: center;
    width: auto;
}

.banner-container :first-child{
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: start;
}

.banner-container :first-child{
    /* flex-wrap: wrap; */
    justify-content: right;
}


span{
    color:#4294d8;
}